<a href="https://colab.research.google.com/github/min02yam/wether/blob/main/3_%EC%9D%B8%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3. 인구
- 고령인구비율
- 성별 인구수

# 0.라이브러리 및 데이터 로드

In [ ]:
install.packages("DataExplorer")
library(DataExplorer)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’, ‘htmlwidgets’, ‘igraph’, ‘reshape2’, ‘gridExtra’, ‘networkD3’

In [ ]:
suppressPackageStartupMessages({
  require(tidyverse)
  require(magrittr)
  require(data.table)
})

In [ ]:
system("gdown --id 17HhSPmyE8ja0MOJjOPcOmzZZ0fBB4py8") # 고령인구비율_시군구
system("gdown --id 1n895y___azhkbPAtanK1LU-pGalB1BRt") # 행정구역시군구별 성별 인구수

In [ ]:
#rm(list=ls())
고령인구비율= read.csv ("고령인구비율_시도_시_군_구__20220730191254.csv", fileEncoding = "euc-kr")
성별인구수= read.csv ("행정구역_시군구_별__성별_인구수_20220730183620.csv", fileEncoding = "euc-kr")

In [ ]:
고령인구비율 %>% head
성별인구수 %>% head

  행정구역별.1. 시점    고령인구비율.br..A.B.100..... X65세이상인구.br..A...명.
1 전국          2012.01 11.3                          5728780
2 전국          2012.02 11.4                          5765156
3 전국          2012.03 11.4                          5791981
4 전국          2012.04 11.4                          5812430
5 전국          2012.05 11.5                          5834042
6 전국          2012.06 11.5                          5851800
  전체인구.br..B...명.
1 50750837
2 50767313
3 50783029
4 50801531
5 50819380
6 50832898

  행정구역.시군구.별 시점    총인구수..명. 남자인구수..명. 여자인구수..명.
1 전국               2012.01 50750837      25414026        25336811
2 전국               2012.02 50767313      25421655        25345658
3 전국               2012.03 50783029      25429184        25353845
4 전국               2012.04 50801531      25437643        25363888
5 전국               2012.05 50819380      25445721        25373659
6 전국               2012.06 50832898      25452027        25380871

# 변수명 변경

In [ ]:
names(고령인구비율)= c("area", "yyyymm","고령인구비율","65세이상인구","전체인구")

In [ ]:
names(성별인구수) = c("area", "yyyymm","총인구수","남자인구수","여자인구수")

In [ ]:
고령인구비율 %>% summary
성별인구수 %>% summary

     area               yyyymm      고령인구비율    65세이상인구
 Length:642         Min.   :2012   Min.   : 7.10   Min.   :  16755
 Class :character   1st Qu.:2012   1st Qu.:10.20   1st Qu.: 155203
 Mode  :character   Median :2013   Median :12.70   Median : 299980
                    Mean   :2013   Mean   :12.91   Mean   : 687840
                    3rd Qu.:2014   3rd Qu.:15.50   3rd Qu.: 441825
                    Max.   :2014   Max.   :20.10   Max.   :6520607
    전체인구
 Min.   :  103127
 1st Qu.: 1532545
 Median : 2024404
 Mean   : 5725124
 3rd Qu.: 3325094
 Max.   :51327916

     area               yyyymm       총인구수          남자인구수
 Length:1080        Min.   :2012   Length:1080        Length:1080
 Class :character   1st Qu.:2013   Class :character   Class :character
 Mode  :character   Median :2014   Mode  :character   Mode  :character
                    Mean   :2014
                    3rd Qu.:2015
                    Max.   :2016
  여자인구수
 Length:1080
 Class :character
 Mode  :character

# 성별인구수 파생변수 생성

In [150]:
성별인구수 %>% mutate(총인구수= as.integer(총인구수),
  남자인구수= as.integer(남자인구수),
  여자인구수= as.integer(여자인구수)) -> 성별인구수_mutate

Warning message in eval(cols[[col]], .data, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(cols[[col]], .data, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(cols[[col]], .data, parent.frame()):
“NAs introduced by coercion”

In [152]:
성별인구수_mutate %>% filter( is.na(총인구수) | is.na(남자인구수) | is.na(여자인구수))

  area           yyyymm  총인구수 남자인구수 여자인구수
1 세종특별자치시 2012.01 NA       NA         NA
2 세종특별자치시 2012.02 NA       NA         NA
3 세종특별자치시 2012.03 NA       NA         NA
4 세종특별자치시 2012.04 NA       NA         NA
5 세종특별자치시 2012.05 NA       NA         NA
6 세종특별자치시 2012.06 NA       NA         NA

In [156]:
성별인구수_mutate %>% filter(area=='세종특별자치시', )

   area           yyyymm  총인구수 남자인구수 여자인구수
1  세종특별자치시 2012.01     NA       NA         NA
2  세종특별자치시 2012.02     NA       NA         NA
3  세종특별자치시 2012.03     NA       NA         NA
4  세종특별자치시 2012.04     NA       NA         NA
5  세종특별자치시 2012.05     NA       NA         NA
6  세종특별자치시 2012.06     NA       NA         NA
7  세종특별자치시 2012.07 103127    52624      50503
8  세종특별자치시 2012.08 106625    54338      52287
9  세종특별자치시 2012.09 108027    55022      53005
10 세종특별자치시 2012.10 109823    55913      53910
11 세종특별자치시 2012.11 111191    56596      54595
12 세종특별자치시 2012.12 113117    57633      55484
13 세종특별자치시 2013.01 113911    58074      55837
14 세종특별자치시 2013.02 115269    58788      56481
15 세종특별자치시 2013.03 115955    59136      56819
16 세종특별자치시 2013.04 116345    59322      57023
17 세종특별자치시 2013.05 116842    59592      57250
18 세종특별자치시 2013.06 117012    59661      57351
19 세종특별자치시 2013.07 117369    59837      57532
20 세종특별자치시 2013.08 117939    60134      57805
21 세종특별자치시 2013.09 118273    60315      57958
22 세종특별자치시 2013.10 118745    60573      58172
23 세종특별자치시 2013.11 119309    60841      58468
24 세종특별자치시 2013.12 122153    62205      59948
25 세종특별자치시 2014.01 123802    63011      60791
26 세종특별자치시 2014.02 125944    64021      61923
27 세종특별자치시 2014.03 126857    64507      62350
28 세종특별자치시 2014.04 128200    65181      63019
29 세종특별자치시 2014.05 129669    65909      63760
30 세종특별자치시 2014.06 130708    66427      64281
31 세종특별자치시 2014.07 132016    67017      64999
32 세종특별자치시 2014.08 134631    68319      66312
33 세종특별자치시 2014.09 138136    70037      68099
34 세종특별자치시 2014.10 142686    72294      70392
35 세종특별자치시 2014.11 148151    74983      73168
36 세종특별자치시 2014.12 156125    78862      77263
37 세종특별자치시 2015.01 161716    81538      80178
38 세종특별자치시 2015.02 169762    85432      84330
39 세종특별자치시 2015.03 174920    87996      86924
40 세종특별자치시 2015.04 178656    89856      88800
41 세종특별자치시 2015.05 182028    91535      90493
42 세종특별자치시 2015.06 185212    93058      92154
43 세종특별자치시 2015.07 189478    95131      94347
44 세종특별자치시 2015.08 194173    97435      96738
45 세종특별자치시 2015.09 197964    99317      98647
46 세종특별자치시 2015.10 202214   101444     100770
47 세종특별자치시 2015.11 206044   103384     102660
48 세종특별자치시 2015.12 210884   105752     105132
49 세종특별자치시 2016.01 215418   108003     107415
50 세종특별자치시 2016.02 220108   110236     109872
51 세종특별자치시 2016.03 223461   111935     111526
52 세종특별자치시 2016.04 225488   112910     112578
53 세종특별자치시 2016.05 227972   114140     113832
54 세종특별자치시 2016.06 230327   115280     115047
55 세종특별자치시 2016.07 232117   116166     115951
56 세종특별자치시 2016.08 234510   117375     117135
57 세종특별자치시 2016.09 236134   118206     117928
58 세종특별자치시 2016.10 238533   119398     119135
59 세종특별자치시 2016.11 240560   120343     120217
60 세종특별자치시 2016.12 243048   121505     121543