<a href="https://colab.research.google.com/github/min02yam/wether/blob/main/3_%EC%9D%B8%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3. 인구
- 고령인구비율
- 성별 인구수

# 0.라이브러리 및 데이터 로드

In [ ]:
install.packages("DataExplorer")
library(DataExplorer)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’, ‘htmlwidgets’, ‘igraph’, ‘reshape2’, ‘gridExtra’, ‘networkD3’

In [ ]:
suppressPackageStartupMessages({
  require(tidyverse)
  require(magrittr)
  require(data.table)
})

In [ ]:
system("gdown --id 17HhSPmyE8ja0MOJjOPcOmzZZ0fBB4py8") # 고령인구비율_시군구
system("gdown --id 1n895y___azhkbPAtanK1LU-pGalB1BRt") # 행정구역시군구별 성별 인구수

In [205]:
#rm(list=ls())
고령인구비율= read.csv ("고령인구비율_시도_시_군_구__20220730191254.csv", fileEncoding = "euc-kr")
성별인구수= read.csv ("행정구역_시군구_별__성별_인구수_20220730183620.csv", fileEncoding = "euc-kr")

In [172]:
고령인구비율 %>% head
성별인구수 %>% head

  행정구역별.1. 시점    고령인구비율.br..A.B.100..... X65세이상인구.br..A...명.
1 전국          2012.01 11.3                          5728780
2 전국          2012.02 11.4                          5765156
3 전국          2012.03 11.4                          5791981
4 전국          2012.04 11.4                          5812430
5 전국          2012.05 11.5                          5834042
6 전국          2012.06 11.5                          5851800
  전체인구.br..B...명.
1 50750837
2 50767313
3 50783029
4 50801531
5 50819380
6 50832898

  행정구역.시군구.별 시점    총인구수..명. 남자인구수..명. 여자인구수..명.
1 전국               2012.01 50750837      25414026        25336811
2 전국               2012.02 50767313      25421655        25345658
3 전국               2012.03 50783029      25429184        25353845
4 전국               2012.04 50801531      25437643        25363888
5 전국               2012.05 50819380      25445721        25373659
6 전국               2012.06 50832898      25452027        25380871

# 변수명 변경

In [206]:
names(고령인구비율)= c("area", "yyyymm","고령인구비율","65세이상인구","전체인구")
names(성별인구수) = c("area", "yyyymm","총인구수","남자인구수","여자인구수")

In [175]:
고령인구비율 %>% summary
성별인구수 %>% summary

     area               yyyymm      고령인구비율    65세이상인구
 Length:642         Min.   :2012   Min.   : 7.10   Min.   :  16755
 Class :character   1st Qu.:2012   1st Qu.:10.20   1st Qu.: 155203
 Mode  :character   Median :2013   Median :12.70   Median : 299980
                    Mean   :2013   Mean   :12.91   Mean   : 687840
                    3rd Qu.:2014   3rd Qu.:15.50   3rd Qu.: 441825
                    Max.   :2014   Max.   :20.10   Max.   :6520607
    전체인구
 Min.   :  103127
 1st Qu.: 1532545
 Median : 2024404
 Mean   : 5725124
 3rd Qu.: 3325094
 Max.   :51327916

     area               yyyymm       총인구수          남자인구수
 Length:1080        Min.   :2012   Length:1080        Length:1080
 Class :character   1st Qu.:2013   Class :character   Class :character
 Mode  :character   Median :2014   Mode  :character   Mode  :character
                    Mean   :2014
                    3rd Qu.:2015
                    Max.   :2016
  여자인구수
 Length:1080
 Class :character
 Mode  :character

# 성별인구수 파생변수 생성

In [207]:
성별인구수 %<>% as.data.table

In [208]:
#char -> int 형으로 변경
성별인구수[, 총인구수 := as.integer(총인구수)]
성별인구수[, 남자인구수 := as.integer(남자인구수)]
성별인구수[, 여자인구수 := as.integer(여자인구수)]

Warning message in eval(jsub, SDenv, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(jsub, SDenv, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(jsub, SDenv, parent.frame()):
“NAs introduced by coercion”

In [209]:
성별인구수 %>% filter( is.na(총인구수) | is.na(남자인구수) | is.na(여자인구수))

  area           yyyymm  총인구수 남자인구수 여자인구수
1 세종특별자치시 2012.01 NA       NA         NA
2 세종특별자치시 2012.02 NA       NA         NA
3 세종특별자치시 2012.03 NA       NA         NA
4 세종특별자치시 2012.04 NA       NA         NA
5 세종특별자치시 2012.05 NA       NA         NA
6 세종특별자치시 2012.06 NA       NA         NA

In [237]:
system("gdown --id 1NkDEXFpNjYq0emwyuf4NgD-W6kXjhSA0")
hs=fread("df_date_month.csv")
hs %>% head
#hs %>% filter(area=='세종')
hs$area %>% table

  yyyymmdd   area sex frequency event year month day yday wday
1 2012-01-01 강원 1   3         1     2012 Jan   1   1    Sun
2 2012-01-01 강원 2   3         1     2012 Jan   1   1    Sun
3 2012-01-01 경기 1   4         1     2012 Jan   1   1    Sun
4 2012-01-01 경기 2   5         1     2012 Jan   1   1    Sun
5 2012-01-01 경남 1   2         1     2012 Jan   1   1    Sun
6 2012-01-01 경남 2   1         1     2012 Jan   1   1    Sun

.
강원 경기 경남 경북 광주 대구 대전 부산 서울 세종 울산 인천 전남 전북 제주 충남
2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922 2922
충북
2922

In [210]:
성별인구수 %>% filter(area=='세종특별자치시', yyyymm	=='2012.07')

  area           yyyymm  총인구수 남자인구수 여자인구수
1 세종특별자치시 2012.07 103127   52624      50503

In [211]:
성별인구수[is.na(총인구수), 총인구수 :=103127]
성별인구수[is.na(남자인구수), 남자인구수 :=52624]
성별인구수[is.na(여자인구수), 여자인구수 :=50503]
# is.na(성별인구수) %>% sum # 확인

In [212]:
성별인구수[, 남자인구비율 := 남자인구수/총인구수*100]
성별인구수[, 여자인구비율 := 여자인구수/총인구수*100]

In [213]:
#지역 인구비율 변수 생성
성별인구수 %>% filter(area=='전국') %>%
  select(yyyymm, 총인구수) -> 전국

In [214]:
성별인구수 %<>% filter(! area=='전국')

In [215]:
성별인구수 = merge(성별인구수,전국, by='yyyymm')

In [216]:
head(성별인구수)

  yyyymm  area       총인구수.x 남자인구수 여자인구수 남자인구비율 여자인구비율
1 2012.01 서울특별시 10250134   5073567    5176567    49.49757     50.50243
2 2012.01 부산광역시  3549501   1762043    1787458    49.64199     50.35801
3 2012.01 대구광역시  2508370   1251881    1256489    49.90815     50.09185
4 2012.01 인천광역시  2804287   1412355    1391932    50.36414     49.63586
5 2012.01 광주광역시  1465313    726529     738784    49.58183     50.41817
6 2012.01 대전광역시  1517299    759905     757394    50.08275     49.91725
  총인구수.y
1 50750837
2 50750837
3 50750837
4 50750837
5 50750837
6 50750837

In [219]:
성별인구수[, 월별인구비율 := 총인구수.x/총인구수.y*100]

In [220]:
성별인구수 %>%head

  yyyymm  area       총인구수.x 남자인구수 여자인구수 남자인구비율 여자인구비율
1 2012.01 서울특별시 10250134   5073567    5176567    49.49757     50.50243
2 2012.01 부산광역시  3549501   1762043    1787458    49.64199     50.35801
3 2012.01 대구광역시  2508370   1251881    1256489    49.90815     50.09185
4 2012.01 인천광역시  2804287   1412355    1391932    50.36414     49.63586
5 2012.01 광주광역시  1465313    726529     738784    49.58183     50.41817
6 2012.01 대전광역시  1517299    759905     757394    50.08275     49.91725
  총인구수.y 인구비율  월별인구비율
1 50750837   20.196975 20.196975
2 50750837    6.993975  6.993975
3 50750837    4.942519  4.942519
4 50750837    5.525598  5.525598
5 50750837    2.887269  2.887269
6 50750837    2.989702  2.989702

# 최종 변수 선택

Loading required package: lubridate


Attaching package: ‘lubridate’


The following objects are masked from ‘package:data.table’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [235]:
성별인구수 %>% select(area, yyyymm, 월별인구비율, 남자인구비율,여자인구비율)

     area           yyyymm  월별인구비율 남자인구비율 여자인구비율
1    서울특별시     2012.01 20.1969753   49.49757     50.50243
2    부산광역시     2012.01  6.9939753   49.64199     50.35801
3    대구광역시     2012.01  4.9425195   49.90815     50.09185
4    인천광역시     2012.01  5.5255975   50.36414     49.63586
5    광주광역시     2012.01  2.8872686   49.58183     50.41817
6    대전광역시     2012.01  2.9897024   50.08275     49.91725
7    울산광역시     2012.01  2.2393010   51.41465     48.58535
8    세종특별자치시 2012.01  0.2032026   51.02834     48.97166
9    경기도         2012.01 23.5436432   50.38622     49.61378
10   강원도         2012.01  3.0252407   50.32895     49.67105
11   충청북도       2012.01  3.0797975   50.42325     49.57675
12   충청남도       2012.01  4.1440282   50.59186     49.40814
13   전라북도       2012.01  3.6915470   49.84145     50.15855
14   전라남도       2012.01  3.7688541   49.98230     50.01770
15   경상북도       2012.01  5.3144030   50.22606     49.77394
16   경상남도       2012.01  6.5211910   50.31812     49.68188
17   제주특별자치도 2012.01  1.1359556   50.02160     49.97840
18   서울특별시     2012.02 20.1927114   49.49234     50.50766
19   부산광역시     2012.02  6.9900095   49.63772     50.36228
20   대구광역시     2012.02  4.9412956   49.90168     50.09832
21   인천광역시     2012.02  5.5316814   50.36371     49.63629
22   광주광역시     2012.02  2.8887012   49.57955     50.42045
23   대전광역시     2012.02  2.9913953   50.08024     49.91976
24   울산광역시     2012.02  2.2395276   51.42680     48.57320
25   세종특별자치시 2012.02  0.2031366   51.02834     48.97166
26   경기도         2012.02 23.5613829   50.38528     49.61472
27   강원도         2012.02  3.0222399   50.32588     49.67412
28   충청북도       2012.02  3.0789319   50.42118     49.57882
29   충청남도       2012.02  4.1487778   50.59735     49.40265
30   전라북도       2012.02  3.6892498   49.84679     50.15321
⋮    ⋮              ⋮       ⋮            ⋮            ⋮
991  광주광역시     2016.11  2.8466821   49.56245     50.43755
992  대전광역시     2016.11  2.9318281   50.01353     49.98647
993  울산광역시     2016.11  2.2691886   51.50683     48.49317
994  세종특별자치시 2016.11  0.4654107   50.02619     49.97381
995  경기도         2016.11 24.5704963   50.29479     49.70521
996  강원도         2016.11  2.9991846   50.37540     49.62460
997  충청북도       2016.11  3.0772071   50.46572     49.53428
998  충청남도       2016.11  4.0509420   50.77575     49.22425
999  전라북도       2016.11  3.6071941   49.74376     50.25624
1000 전라남도       2016.11  3.6802966   49.98391     50.01609
1001 경상북도       2016.11  5.2253127   50.24105     49.75895
1002 경상남도       2016.11  6.5232776   50.36523     49.63477
1003 제주특별자치도 2016.11  1.2391502   50.27198     49.72802
1004 서울특별시     2016.12 19.2095607   49.10863     50.89137
1005 부산광역시     2016.12  6.7674760   49.32379     50.67621
1006 대구광역시     2016.12  4.8060713   49.67360     50.32640
1007 인천광역시     2016.12  5.6930066   50.20851     49.79149
1008 광주광역시     2016.12  2.8420146   49.55963     50.44037
1009 대전광역시     2016.12  2.9293633   50.00687     49.99313
1010 울산광역시     2016.12  2.2676785   51.50516     48.49484
1011 세종특별자치시 2016.12  0.4701466   49.99218     50.00782
1012 경기도         2016.12 24.5990538   50.29145     49.70855
1013 강원도         2016.12  2.9998443   50.37032     49.62968
1014 충청북도       2016.12  3.0788037   50.46666     49.53334
1015 충청남도       2016.12  4.0558617   50.78224     49.21776
1016 전라북도       2016.12  3.6072099   49.73775     50.26225
1017 전라남도       2016.12  3.6828885   49.99643     50.00357
1018 경상북도       2016.12  5.2235893   50.24696     49.75304
1019 경상남도       2016.12  6.5263403   50.36408     49.63592
1020 제주특별자치도 2016.12  1.2410908   50.27221     49.72779

In [ ]:
# area 변수 맞추기
#1. 앞에 세글자 파싱해서
#2. ex. 경상북 -> 경북
#3. 앞에 두글자 파싱

In [ ]:
# year, month 변수 만들기