<a href="https://colab.research.google.com/github/min02yam/wether/blob/main/%EB%8C%80%EA%B8%B0%ED%99%98%EA%B2%BD_%EA%B8%B0%EC%83%81%EC%9E%90%EB%A3%8C%EA%B0%9C%EB%B0%A9%ED%8F%AC%ED%84%B8_%EB%B6%80%EC%9C%A0%EB%B6%84%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

대기환경-기상자료개방포털

# 0.라이브러리 및 데이터 로드

In [ ]:
install.packages("DataExplorer")
library(DataExplorer)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘plyr’, ‘Rcpp’, ‘htmlwidgets’, ‘igraph’, ‘reshape2’, ‘gridExtra’, ‘networkD3’

In [113]:
suppressPackageStartupMessages({
  require(tidyverse)
  require(magrittr)
  require(data.table)
})

In [110]:
system("gdown --id 1Htro_YGeSiPY_DzwOhP6XbasIB7XyDIz") # 2012-1

In [117]:
#rm(list=ls())
부유분진= read.csv ("OBS_부유분진_DD_20220729190636.csv", fileEncoding = "euc-kr")

In [121]:
부유분진 %>% head

  지점 지점명 일시       일.미세먼지.농도.....
1 90   속초   2012-01-01 51
2 90   속초   2012-01-02 55
3 90   속초   2012-01-03 58
4 90   속초   2012-01-04 56
5 90   속초   2012-01-05 30
6 90   속초   2012-01-06 33