<a href="https://colab.research.google.com/github/min02yam/wether/blob/main/%ED%99%A9%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

황사

# 패키지 및 데이터 로드

In [3]:
suppressPackageStartupMessages({
  require(dplyr)
  require(magrittr)
  require(stringr)
  require(data.table)
})

In [52]:
system("gdown --id 1cN9GXlDJna59plm7toEfouTSKrGPHGU5")  # 황사 관측 지점
#system("gdown --id 14RweUYbx4zfEQa1AReoz8sYRz6OGyi0u")  # 황사_APS_MI10AVG
#system("gdown --id 1Z-5OtA9ZQKtomFjGhYelgFHSmex8EYK8") # 황사_PM10_CMA_MI
#system("gdown --id 1IiaA0rPRM5PFvr_YSHNCZk8Waai8iSqS") # 황사_PM10_KCCAR_MI
#system("gdown --id 1kF3CVFGSgu1WF469ssEn8hL7GIjDuB57")# 황사_PM10_KMA_MI
system("gdown --id 1txGSfKKMdoZlGE91JFg70yBvRqV3QYH-") #황사_PM10_KMA_H

In [53]:
#황사관측지점=fread("황사관측지점.csv")
#황사_APS= fread("황사_APS_MI10AVG.csv")
#황사_중국= fread("황사_PM10_CMA_MI.csv")
#황사_대기_분 = fread("황사_PM10_KCCAR_MI.csv")
#황사_기상청_분= fread("황사_PM10_KMA_MI.csv")
황사_기상청_시 = fread("황사_PM10_KMA_H.csv")

### 황사관측지점

In [ ]:
#황사관측지점 %>% head
#변수명 변경

In [20]:
황사관측지점[,1] %>% table

지점번호
 90  94 100 101 102 108 115 116 119 121 130 132 135 136 140 143 144 146 152 156
  1   1   1   1   1   2   1   2   1   1   1   1   1   1   1   1   1   1   1   1
160 169 175 185 192 201 229 232 277 399 501
  1   1   1   1   1   1   1   1   1   1   1

In [34]:
#names(황사관측지점) 
names(황사관측지점) = gsub("\\(.*?\\)","", names(황사관측지점))

In [58]:
황사관측지점 %>% select(지점번호,지점명) %>% nrow

[1] 33

In [42]:
황사관측지점 %>% select(지점번호,지점명)

   지점번호 지점명
1   90      속초
2   94      광덕산
3  100      대관령
4  101      춘천
5  102      백령도
6  108      서울
7  108      서울
8  115      울릉도
9  116      관악산
10 116      관악산
11 119      수원
12 121      영월
13 130      울진
14 132      안면센터
15 135      추풍령
16 136      안동
17 140      군산
18 143      대구
19 144      오성산
20 146      전주
21 152      울산
22 156      광주
23 160      구덕산
24 169      흑산도
25 175      진도(첨찰산)
26 185      고산
27 192      진주
28 201      강화
29 229      격렬비도
30 232      천안
31 277      영덕
32 399      청원
33 501      연평도

### ~~황사_APS~~

In [13]:
황사_APS[,2] %>% table
# 13, 108, 132, 185, 884, 1081
#관측지점과 안맞음

db_ydst_aps.stn_id
    13    108    132    185    884   1081
   961 533523 865245 848510 232240  18097

### ~~황사_중국~~

In [19]:
황사_중국[,2] %>% table

db_ydst_pm10_cma_mi.stn_id
 52203  52418  53068  53276  53336  53543  53787  53845  54135  54157  54218
 43201  42775  34107 485392  42152  43210 521662  35475 518301  25273  31405
 54497  54662  54725  54857
 31380 508355 505021  33481

### ~~황사_대기_분~~

In [26]:
황사_대기_분 %>% str
#399즉 청원거만 있음

Classes ‘data.table’ and 'data.frame':	468614 obs. of  12 variables:
 $ db_ydst_pm10_kccar_mi.tm         : POSIXct, format: "2012-01-01 00:15:00" "2012-01-01 00:20:00" ...
 $ db_ydst_pm10_kccar_mi.stn_id     : int  399 399 399 399 399 399 399 399 399 399 ...
 $ db_ydst_pm10_kccar_mi.vs         : num  NA NA NA 9 3 9 86 57 16 44 ...
 $ db_ydst_pm10_kccar_mi.tot_pm     : num  52.6 50.8 51.4 76.8 79.2 ...
 $ db_ydst_pm10_kccar_mi.pm10_pm    : num  49.2 46.8 44.4 72.3 72.8 ...
 $ db_ydst_pm10_kccar_mi.pm25_pm    : num  31.9 30.2 30.9 49.2 53.8 ...
 $ db_ydst_pm10_kccar_mi.o3         : num  9.82 10.29 8.78 1.42 1.63 ...
 $ db_ydst_pm10_kccar_mi.no1        : num  1.83 1.61 1.95 11.28 9.68 ...
 $ db_ydst_pm10_kccar_mi.no2        : num  28.7 27.9 29.4 32.4 33.6 ...
 $ db_ydst_pm10_kccar_mi.co         : num  627 624 642 964 935 ...
 $ db_ydst_pm10_kccar_mi.so2        : num  2.75 2.77 2.52 2.5 2.19 ...
 $ db_ydst_pm10_kccar_mi.orgn_stn_id: logi  NA NA NA NA NA NA ...
 - attr(*, ".internal.selfref")=<externalptr>

### ~~황사_기상청_분~~

In [59]:
황사_기상청_분[,2] %>% distinct %>% as.data.frame %>% arrange(db_ydst_pm10_kma_mi.stn_id)

   db_ydst_pm10_kma_mi.stn_id
1   90
2   93
3   94
4  100
5  101
6  102
7  108
8  111
9  115
10 116
11 119
12 121
13 130
14 132
15 135
16 136
17 140
18 143
19 146
20 152
21 156
22 160
23 169
24 175
25 185
26 192
27 201
28 229
29 232
30 268
31 273
32 286
33 399
34 430
35 432
36 456
37 501

### 황사_기상청_시

In [63]:
황사_기상청_시[,2] %>% distinct %>% as.data.frame %>% arrange(db_ydst_pm10_kma_tim.stn_id) %>%nrow

[1] 37

In [65]:
#변수명 변경
names(황사_기상청_시)= gsub("db_ydst_pm10_kma_tim.","", names(황사_기상청_시))

In [68]:
황사_기상청_시 %>% select (tm, stn_id, avg_pm10_pm, tno) -> avg_pm10

In [69]:
write.csv(avg_pm10, "avg_pm10.csv", row.names=FALSE)